@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: url(CSR64z1Qlv-GDxkbKVQ_fOAKSQ.eot)/*tpa=http://fonts.gstatic.com/s/newscycle/v16/CSR64z1Qlv-GDxkbKVQ_fOAKSQ.eot*/;
}
